@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

*{box-sizing: border-box;}

.activo{font-weight: 700;}


#logo{
    width: 5%;
}

a,h2{font-family: 'Roboto', sans-serif;
color:#04146c}

h1,h2{text-align: center;}

nav{display: flex;}

a{text-decoration: none;
font-size: 24px;
padding: 40px;
}

h1{color: #0a2ff1;
font-family: 'Roboto Slab', serif;
font-weight: 700;
font-size: 96px;}

h2{font-size: 34px}

img{width: 100%;}
